Entrega 1/Proyecto de Visualización de Información_ Entrega 1.docx
Entrega 1/Proyecto17.docx
INSPIRACION.html
INSPIRACION_files/
Entrega 1/Proyecto17.pdf
Entrega 2/Proyecto17.docx
Entrega 2/sound/accion
Entrega 2/sound/harem
Entrega 2/sound/otro
