Entrega 1/Proyecto de Visualización de Información_ Entrega 1.docx
Entrega 1/Proyecto17.docx
INSPIRACION.html
INSPIRACION_files/
Entrega 1/Proyecto17.pdf
Entrega2/Proyecto17.docx
Entrega2/sound/accion
Entrega2/sound/harem
Entrega2/sound/otro
Entrega 2/Proyecto17.docx
Entrega 2/Proyecto17.pdf
